{% load static %}
<link rel="stylesheet" href="{% static 'lib/css/mdb.dark.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/css/mdb.dark.min.css.map' %}">
<link rel="stylesheet" href="{% static 'lib/css/mdb.dark.rtl.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/css/mdb.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/css/mdb.min.css.map' %}">
<link rel="stylesheet" href="{% static 'lib/css/mdb.rtl.min.css' %}">

<section class="vh-100" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">

              {% if form.errors %}
    
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Error

              </div>


              {% endif %}
              <h3 class="mb-5">Registrar Cuenta de Usuario</h3>
              
              
              <form action="" method="POST">
               {% csrf_token %}
                
               {{ form.as_p}}
               <button class="btn btn-primary btn-lg " style="background-color: black;" type="submit">Registrar</button>
               
               <a href= "{% url 'login_user' %}" style="color: blue;">Ya tienes cuenta? Pues Inicia Sesion</a></li>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

