{% extends 'core/index.html' %}
{% load static %}

{% block nav %}
<div class="collapse navbar-collapse" id="navbar-menu">
    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
        <li class="nav-item active"><a class="nav-link" href="/home">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'catalogo' %}">Tienda</a></li>
        {% if request.user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'Public' %}">Mis Productos</a></li>
        <li class="nav-item"><a class="nav-link" href= "{% url 'logout' %}">Salir</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href= "{% url 'registrar_user' %}">Registrar</a></li>
        {% endif %}
        <!-- <li class="nav-item"><a class="nav-link" href="gallery.html">Usuario</a></li> -->
    </ul>
</div>
{% endblock %}



{% block content %}

<div class="shop-box-inner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <div class="special-menu text-center">
            
                      <a href="categoria" class="btn hvr-hover" style="display: block;">Crear</a>
              
          </div>
      </div>
    </div>
      <div class="row">
          <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
              <div class="right-product-box">
                  <!-- <div class="product-item-filter row">
                      <div class="col-12 col-sm-8 text-center text-sm-left">
                          <div class="toolbar-sorter-right">
                              <span>Sort by </span>
                              <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                            <option data-display="Select">Nothing</option>
                            <option value="1">Popularity</option>
                            <option value="2">High Price → High Price</option>
                            <option value="3">Low Price → High Price</option>
                            <option value="4">Best Selling</option>
                          </select>
                          </div>
                          <p>Showing all 4 results</p>
                      </div>
                      <div class="col-12 col-sm-4 text-center text-sm-right">
                          <ul class="nav nav-tabs ml-auto">
                              <li>
                                  <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                              </li>
                              <li>
                                  <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                              </li>
                          </ul>
                      </div>
                  </div> -->

                  <div class="product-categorie-box">
                      <div class="tab-content">
                          <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                              <div class="row">
                                {% for n in news %}
                                  <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                      <div class="products-single fix">
                                          <div class="box-img-hover">
                                              <div class="type-lb">
                                                  <p class="sale">Sale</p>
                                              </div>
                                              <img src="{{n.imgend.url}}" class="img-fluid" alt="Image">
                                              <div class="mask-icon">
                                                  <ul>
                                                      <li><a href="{% url 'buscar' n.id %}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                      <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                      <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                  </ul>
                                                  <a class="cart" href="#">Add to Cart</a>
                                              </div>
                                          </div>
                                          <div class="why-text">
                                              <h4>{{ n.Nombrez }}</h4>
                                              <h5> {{n.precioz }} CLP</h5>
                                
                                          </div>
                                          <a href="{% url 'editar' n.id  %}" class="btn btn-primary">Editar</a>
                                          <a href="{% url 'borr' n.id %}" class="btn btn-primary" style="background-color: red;"> Eliminar </a>
                                      </div>
                                  </div>
                                  {% endfor %}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    
                </div>
            </div>
        </div>   
        
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if news.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1" aria-label="Primera">
            <span aria-hidden="true">Primera</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ news.previous_page_number }}" aria-label="Anterior">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">Primera</span>
        </li>
        <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">&laquo;</span>
        </li>
      {% endif %}
  
      {% for i in news.paginator.page_range %}
        <li class="page-item{% if news.number == i %} active{% endif %}">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
      {% endfor %}
  
      {% if news.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ news.next_page_number }}" aria-label="Siguiente">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ news.paginator.num_pages }}" aria-label="Ultima">
            <span aria-hidden="true">Ultima</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">&raquo;</span>
        </li>
        <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">Ultima</span>
        </li>
      {% endif %}
    </ul>
  </nav>

{% endblock %}